    <mat-card class="logo-card">
        <mat-card-header>
            <h1>Logotipni yuborish.</h1>  
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form>
                <table>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-label>Reg raqami:</mat-label>
                                <input matInput type="number" required>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-label>Sana:</mat-label>
                                <input matInput type="date" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <mat-form-field class="ed-full-width">
                                <mat-label>Logotip nomi</mat-label>
                                <input matInput type="text" placeholder="Logotip nomi" required>
                            </mat-form-field>                                   
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">                              
                            <mat-form-field class="ed-full-width">
                                <mat-label>Muallif</mat-label>
                                <input matInput type="text" placeholder="Familiya va ism" required>
                            </mat-form-field> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">                              
                            <mat-form-field class="f-mat-form-field">
                                <div>
                                    <mat-toolbar class="f-mat-toolbar-single-row">
                                      <!-- Display files names -->
                                      <input matInput [(ngModel)]="fileAttr" readonly name="name" />
                                
                                      <!-- Browse Button -->
                                      <button mat-flat-button color="primary">
                                        Browse File
                                      </button>
                                    </mat-toolbar>
                                
                                    <!-- Fetch selected filed on change -->
                                    <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple"
                                      accept="image/*" />
                                </div>
                            </mat-form-field> 
                        </td>
                    </tr>
                </table>
                    
            </form>    
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button  color="primary">
                Login
            </button>
        </mat-card-actions>
    </mat-card>