<div class="reg-card">
    <mat-toolbar>
        <span>Login</span>
    </mat-toolbar>
    <mat-card class="my-card">
        <mat-card-content>
            <form [formGroup]="loginForm" class="reg-form">
                <mat-form-field class="reg-full-width">
                    <mat-label>Login</mat-label>
                    <input matInput formControlName="login" type="text" placeholder="Login" required>
                    <mat-error *ngIf="checkError('login', 'required')">Login kiritilishi shart</mat-error>
                    <mat-error *ngIf="checkError('login', 'minlength')">Login uchta belgidan kam bo'lmasligi lozim</mat-error>
                </mat-form-field>
                <mat-form-field class="reg-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Password" required>
                    <mat-error *ngIf="checkError('password', 'required')">Login kiritilishi shart</mat-error>
                    <mat-error *ngIf="checkError('password', 'minlength')">Login uchta belgidan kam bo'lmasligi lozim</mat-error>                   
                </mat-form-field>
            </form>    
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="!loginForm.valid" color="primary">Login</button>
        </mat-card-actions>
    </mat-card>
</div>