<div class="reg-card">
    <mat-toolbar>
        <span>Registration</span>
    </mat-toolbar>
    <mat-card class="my-card">
        <mat-card-content>
            <form class="reg-form">
                <mat-form-field class="reg-full-width">
                    <mat-label>Familiya</mat-label>
                    <input  matInput type="text" placeholder="Familiya"  name="familiya"  required>
                </mat-form-field>
                <mat-form-field class="reg-full-width">
                    <mat-label>Ism</mat-label>
                    <input  matInput type="text" placeholder="Ism" name="imya"  required>
                </mat-form-field>
                <mat-form-field class="reg-full-width">
                    <mat-label>Qaysi viloyatdansiz</mat-label>
                    <input  matInput type="text" placeholder="viloyat" name="address"  required>
                </mat-form-field>
                <mat-form-field class="reg-full-width">
                    <mat-label>Email</mat-label>
                    <input  matInput type="email" placeholder="Email" name="email" required>
                </mat-form-field>
                <mat-form-field class="reg-full-width">
                    <mat-label>Password</mat-label>
                    <input  matInput type="password" placeholder="Password"  name="password1" required>
                </mat-form-field>
                <mat-form-field class="reg-full-width">
                    <mat-label>Password</mat-label>
                    <input  matInput type="password" placeholder="Password"  name="password" required>
                </mat-form-field>
            </form>    
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">REGISTER</button>
        </mat-card-actions>
    </mat-card>
</div>